body{

font-family:Poppins,sans-serif;

background:#0b0f0b;

color:white;

padding:30px;

}

h1{

color:#22c55e;

text-align:center;

margin-bottom:30px;

}

input{

width:100%;

padding:12px;

margin-bottom:20px;

font-size:16px;

}

table{

width:100%;

border-collapse:collapse;

}

th,td{

border:1px solid #22c55e;

padding:12px;

text-align:center;

}

th{

background:#22c55e;

color:black;

}

tr:nth-child(even){

background:#111714;

}